.div0 {
    background-color: brown;
    height: 10px;
    width: 20px;
}

.div1 {
    background-color: grey;
    height: 20px;
    width: 40px;
}

.div2 {
    background-color: green !important;
    height: 100px;
    width: 400px !important;
}

#divDos {
    background-color: yellow;
    height: 20px;
    width: 40px;
}